<% page_title(@article.title) %>

<div class="container">
    <div class="container-header">
        <div class="title">
            <h1>Editing Article: <%= @article.title%></h1>
        </div>
    </div>

    <div class="form-container">
        <div class="form-wrapper">
            <%= form_with(model: @article, local: true) do |f| %>
                <%= show_errors(@article) %>
                
                <%= f.label :title, "Article title" %>
                <%= f.text_field :title, required: true %>

                <%= f.label :category_id, "Category" %>
                <%= f.select :category_id, options_for_select(@categories, @category), :prompt => 'Select one!', required: true %>

                <%= f.label :preview_text, "Preview text" %>
                <%= f.text_area :preview_text, required: true %>

                <%= f.label :text, "Content" %>
                <%= f.rich_text_area :text, required: true %>

                <%= f.label :image, "Image" %>
                <%= f.file_field :image %>
                <%= image_tag(f.object.image) %>

                <%= f.submit 'Update a post', class: "add-btn"%>
            <% end %>
        </div>
    </div>
</div>
