<h1>Editing Article</h1>

<%#= render 'form', article: @article %>

<h1><%= @category %></h1>
<%= form_for(@article) do |f| %>
    <%= f.label :title, "Article title" %>
    <%= f.text_field :title %>

    <%= f.select :category_id, options_for_select(@categories, @category), :prompt => 'Select one!' %>

    <%= f.label :text, "Content" %>
    <%= f.text_area :text %>

    <%= f.label :image, "Image" %>
    <%= f.file_field :image %>

    <%= f.submit 'Update post'%>
<% end %>


<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
