<h1>New Article</h1>

<%#= render 'form', article: @article %>

<%= form_for(@article) do |f| %>
    <%= f.label :title, "Article title" %>
    <%= f.text_field :title %>

    <%= f.label :text, "Content" %>
    <%= f.text_area :text %>

    <%= f.label :image, "Image" %>
    <%= f.text_field :image %>

    <%= f.submit 'Add a post'%>
<% end %>


<%= link_to 'Back', articles_path %>
