<% page_title('New article') %>

<div class="container">
    <div class="container-header">
        <div class="title">
            <h1>New article</h1>
        </div>
    </div>

    <div class="form-container">
        <div class="form-wrapper">
            <%= form_with(model: @article, local: true) do |f| %>
                <% if @article.errors.any? %>
                    <div class="error-explanation">
                    <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

                    <ul>
                        <% @article.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                        <% end %>
                    </ul>
                    </div>
                <% end %>

                <%= f.label :title, "Article title" %>
                <%= f.text_field :title, reqiured: true %>

                <%= f.label :category_id, "Category" %>
                <%= f.select :category_id, options_for_select(@categories), :prompt => 'Select one!' %>

                <%= f.label :preview_text, "Preview text" %>
                <%= f.text_area :preview_text, required: true %>

                <%= f.label :text, "Content" %>
                <%= f.rich_text_area :text, required: true %>

                <%= f.label :image, "Image" %>
                <%= f.file_field :image, required: true %>

                <%= f.submit 'Add a post', class: "add-btn"%>
            <% end %>
        </div>
    </div>
</div>
