<p id="notice"><%= notice %></p>

<% page_title('Dashboard - Articles list') %>
<div class="container">
  <div class="container-header">
    <div class="title">
      <h1>Articles</h1>
    </div>
  </div>
  
  <div class="table-wrapper">
    <table class="items-tables">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Author</th>
          <th>Category</th>
          <th>Votes</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td><%= article.id %></td>
            <td><%= link_to article.title, article %></td>
            <td><%= link_to article.author.name, article.author %></td>
            <td><%= link_to article.category.name, article.category %></td>
            <td><%= article.votes.count %></td>
            <td>
              <%= link_to 'Show', article %>
              <%= link_to 'Edit', edit_article_path(article) %>
              <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
