<p id="notice"><%= notice %></p>

<div class="container">
  <div class="container-header">
    <div class="title">
      <h1>Users</h1>
    </div>
    <div class="right-block">
        <%= link_to 'New user', new_user_path, class: 'new-article-btn' %>
    </div>
  </div>
  
  <div class="table-wrapper">
    <table class="items-tables">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= link_to user.id, user %></td>
                <td><%= link_to user.name, user %></td>
                <td><%= user.email %></td>
                <td><%= user.created_at %></td>
                <td><%= user.updated_at %></td>
                <td>
                    <%= link_to 'Show', user %>
                    <%= link_to 'Edit', edit_article_path(user) %>
                    <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
