
<% page_title(@user.name) %>

<div class="container">
    <div class="container-header">
        <div class="title">
            <h1>Edit: <%= @user.name%> <%= @user.surname%></h1>
        </div>
        
        <div class="right-block">
            <%= link_to 'Show', @user, class: 'new-article-btn' %>
            <%= link_to 'Back', @user, class: 'new-article-btn' %>
        </div>
    </div>
    
    <div class="form-container">
        <div class="form-wrapper user-form">
            <%= form_with(model: @user, local: true) do |f| %>
                <%= show_errors(@user) %>

                <%= f.label :avatar, "Image" %>
                <%= avatar_attached(f, :avatar) %>
                
                <%= f.label :name, "Name" %>
                <%= f.text_field :name, required: true %>

                <%= f.label :surname, "Surname" %>
                <%= f.text_field :surname %>

                <%= f.label :email, "Email" %>
                <%= f.email_field :email, required: true %>

                <%= f.label :bio, "About" %>
                <%= f.text_area :bio %>

                <%= f.label :website, "Website" %>
                <%= f.url_field :website %>

                <%= f.submit "Save", class: 'add-btn' %>
            <% end %>
        </div>
    </div>
</div>
