
<% page_title(@user.name) %>

<div class="container">
    <div class="container-header">
        <div class="title">
            <h1>Edit: <%= @user.name%> <%= @user.surname%></h1>
        </div>
        
        <div class="right-block">
            <%= link_to 'Show', @user, class: 'new-article-btn' %>
            <%= link_to 'Back', @user, class: 'new-article-btn' %>
        </div>
    </div>
    
    <div class="form-container">
        <div class="form-wrapper user-form">
            <%= form_with(model: @user, local: true) do |f| %>
                <% if @user.errors.any? %>
                    <div id="error_explanation">
                    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                    <ul>
                        <% @user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                        <% end %>
                    </ul>
                    </div>
                <% end %>

                <%= f.label :avatar, "Image" %>
                <% if @user.avatar.attached? %>
                  <%= f.file_field :avatar %>
                <% else %>
                    <%= f.file_field :avatar, required: true %>
                <% end %>
                
                <%= f.label :name, "Name" %>
                <%= f.text_field :name, required: true %>

                <%= f.label :surname, "Surname" %>
                <%= f.text_field :surname %>

                <%= f.label :email, "Email" %>
                <%= f.email_field :email, required: true %>

                <%= f.label :bio, "About" %>
                <%= f.text_area :bio %>

                <%= f.label :website, "Website" %>
                <%= f.url_field :website %>

                <%= f.submit "Submit", class: 'add-btn' %>
            <% end %>
        </div>
    </div>
</div>
