<p id="notice"><%= notice %></p>

<% page_title(@user.name) %>

<div class="container user-container">
    <div class="container-header profile-header">
        <div class="profile-info">
            <div class="title">
                <h1><%= @user.name%> <%= @user.surname %></h1>
                <%= user_profile_edit_btn(@user) %>
            </div>

            <div class="user-bio">
                <p>
                    <%= @user.bio %>
                </p>
            </div>

            <div class="user-website">
                <%= link_to  @user.website, @user.website %>
            </div>

            <div class="user-stats">
                <%= pluralize(@user.articles.count, 'Article') %>
            </div>
        </div>

        <div class="user-avatat-wrapper">
            <%= image_tag(@user.user_image_path)%>
        </div>
    </div>

    <div class="user-articles">
        <div class="user-articles-tabs">
            <%= link_to  "Articles", @user %>
        </div>

        <div class="tab-content">
            <%= user_articles(@user, @user.name, @user.articles) %>
        </div>
    </div>
</div>
