<header class ="header-wrapper">
    <nav class="main-menu">
        <%= link_to image_tag("kitchen_loop.png", alt: "Rails", class: 'logo'), root_path, class: 'logo-link' %>
        <ul class="main-menu-items">
            <li>
                <%= link_to  "All Articles", articles_path %>
            </li>
            <%= menu_categories %>
        </ul>
        <ul class="user-profile-menu">
            <%= menu_links_render %>
            <li>
                <%= link_to  "Add article", new_article_path %>
            </li>
        </ul>
    </nav>
</header>