<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) : "Page title" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="admin-wrapper">
      <%= render 'shared/main_menu' %>
      <main class="main-content">
        <%= yield %>
      </main>
      <% if current_user = 1 %>
        <%= render 'shared/admin_menu' %>
      <% end %>
    </div>
  </body>
</html>
